<td>{{person.pid}}</td>
<td>{{person.name}} {{person.middleName}} {{person.surname}}</td>
<td><span [hidden]="!person.email && !person.phone">
    {{person.email}}
    {{person.phone}}
  </span>
  <span [hidden]="person.email || person.phone"> - </span></td>
<td><span *ngIf="person.groups == null"> No groups</span>
  <span *ngIf="person.groups != null"> {{person.groups.length}}
    <span *ngIf="person.groups.length != 1; else onlyOneGroup">groups:</span>
    <ng-template #onlyOneGroup>group:</ng-template>
    {{person.groups}}
  </span>
</td>
<td>
  <button (click)=onPersonDelete() class="btn btn-primary">Delete</button>
</td>