.group-label {
  display: inline-block;
  font-size: 20px;
  background: #A0C1B8;
  line-height: 18px;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  color: black;
  border: 1px solid transparent;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 4px;

}

.close {
  display: inline-block;
  min-height: 16px;
  min-width: 16px;
  line-height: 13px;
  vertical-align: middle;
  margin-left: 6px;
  text-align: center;
  font-size: 21px;
  opacity: .6;
  cursor: pointer;
}

